<form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px" #f="ngForm" (ngSubmit)="onSubmit(f)"> 
  <mat-form-field>
    <input 
    type="email" 
    ngModel 
    #email="ngModel"
    name="email"
    email
    matInput
    placeholder="Email"
    required>
    <mat-error *ngIf="email.hasError('required')">Email is required</mat-error>
    <mat-error *ngIf="!email.hasError('required')">Email is invalid</mat-error>
  </mat-form-field>

  <mat-form-field hintLabel="Lenght">
      <input 
        type="password" 
        placeholder="Password"
        ngModel 
        name = "password"
        matInput
        password 
        required
        minlength="6"
        #password="ngModel">
        <mat-hint align="end">{{password.value?.length}}/6</mat-hint>
        <mat-error>Need to have an stronger password</mat-error>
    </mat-form-field>

    
      <button [disabled]="f.invalid" mat-raised-button type="submit">Submit</button>
    
</form>